<div class="modal-header">
  {{#if dismissable}}<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{/if}}
  <h3 >{{title}}</h3>
</div>